.mt-10{
    padding: 10rem;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body {
  /* font-family: "Poppins", sans-serif; */
  overflow: hidden;
}

  .panel2{
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    right: 0%;
    transform: translateY(-50%);
    background-color:#171942;
    transition: 1.8s ease-in-out;
    border-radius: 50%;
    z-index: 6;
    
  }
  .logo {
    position: absolute;
    left: 100px;
    top: 80px;
    z-index: 10;
    
  }

  .SignUpform{   
     padding-top: 10%;
     padding-left: 5%;
     align-content: center;
     
  }
  .Header{
    margin-left: 13%;
    margin-bottom: 40px;;
    /* text-align: center; */
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    
  }
  .textfield{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    width: 600px;
  }
  .passwordtextfield{
    margin-top: 10px;
     margin-bottom: 1px;
      margin-left: 5px;
       width: 600px;
  }
  .forgettext{
    
     margin-top: -39px;
     
  }



  
  @media (max-width: 870px) {
    
      .Header{
        margin-top: 300px;
        padding-left: 25%;
        font-size: 20px;
      font-weight: bold;
        
      }
      .logo{
        left: 200px;
        
        }
      
    
    /* .panel2{
      width: 100;
      height: 100;
      top:-50%;
      left:-40%;
      transform:translate(-50%,-50%);
      transform:translate(-20%,-60%);
      
      } */
  }
  @media (max-width: 1024px){
    .panel2{
      width: 100;
      height: 100;
      top:-50%;
      left:-40%;
      transform:translate(-20%,-60%);
      
    }
    .logo{
      left: 200px;
      
      }
      .Header{
        margin-top: 300px;
        margin-left: -80px;
        
      }
      
  } 
  @media (max-width: 480px) {
    .Header{
      
      margin-top: 250px;
      margin-left: 5px;
      font-size: 20px;
      font-weight: bolder;
    }
    .panel2{
    width: 100;
    height: 100;
    /* top: -50%; */
    top:-50%;
  transform: translateZ(30%);
/* 
    transform: translateX(90%); */
    /* transform: translateY(-50%); */
    
    }
    .logo{
    left: 40px;
    
    }
    img{
      height: 100px;
    }
    
    .forgettext{
      margin-left: 200px;
      margin-top: -37px;
      font-size: 12px;
      
    }
    
    body{
      overflow: auto;
    }
   
  }
  